

h1 {
	text-align: center;
}

nav {
	width: 15vw;
	height: 80vh;
	border: solid black;

}

nav h3 {
	text-align: center;
}

.main-container {
	display: flex;
	gap: 15vw
/*	flex-direction: column;*/
}

#tasks-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}